
<div class="row">
  <div class="col-sm-12">

<div class="jumbotron">
  <h1>Missing <code>pageindex.json</code></h1>
  <p>
    The file is required by markdownBrauser to list documents available. <br/>
    Please generate the index by running <code>markdownBrauser.py</code>
  </p>

  <p>
    {{#link-to 'pagecontent' '_about' class="btn btn-primary btn-lg" tagName="a"}}
      Learn more
    {{/link-to}}
  </p>
</div>

  </div>
</div>
