<div class="page-container">
    <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">

          <div class="col-md-2 sidebar-offcanvas" id="sidebar" role="navigation">
            {{brauser-navigation items=model tagName=''}}
          </div>

          <div class="col-md-10">
            {{liquid-outlet}}
          </div>

        </div>
    </div>
</div>
