
<div class="row">
  <div class="col-sm-12">

<div class="jumbotron">
  <h1>HTTP Error {{model.id}}</h1>
  <p>
    {{model.errorMessage}}
  </p>
  <p>
    {{#link-to 'index' class="btn btn-primary btn-lg" tagName="a"}}
      Go to document index
    {{/link-to}}
  </p>
</div>

  </div>
</div>
